<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/config/styles.css">
    <title>Adicionar Disciplina</title>
    <style>
        /* Adicione estilos personalizados conforme necessário */
    </style>
</head>
<body>
    <header>
        <div class="perfil">
            <a href="/perfil">
                <img src="../static/imagem/{{ nome }}.jpg" alt="Foto de Perfil">
        <div>   
            <h1>{{ nome }}</h1> 
            <h2>Curso: {{ curso}}</h2>
        </div>
        </a>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="/mensagens">Mensagens</a></li>
                <li><a href="/relatorio">Relatório</a></li>
                <li><a href="/disciplina">Disciplinas</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h1>Adicionar Disciplina</h1>
        <form action="/adicionar_disciplina" method="post">
            <label for="nome">Nome da Disciplina:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="codigo">Código da Disciplina:</label>
            <input type="text" id="codigo" name="codigo" required>
            
            <label for="professor">Professor:</label>
            <input id="professor" name="professor" required></textarea>
            <div>
                <h3>Selecione os dias e horário para suas disciplinas:</h3>
                <label for="dia">Dia da Semana:</label>
                <select id="dia" name="dia">
                  <option value="segunda">Segunda-feira</option>
                  <option value="terca">Terça-feira</option>
                  <!-- Adicione as opções para os outros dias da semana -->
                </select>
                <br>
                <label for="horario">Horário:</label>
                <input type="time" id="horario" name="horario">
            </div>
              
            <button type="submit">Adicionar Disciplina</button>
        </form>
    </div>
</body>
</html>
