<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="../static/config/styles.css">
</head>
<style>
    body {
            display: flex;
            justify-content: center; /* Centralize horizontalmente */
            align-items: center; /* Centralize verticalmente */
            min-height: 100vh; /* Ajusta a altura para a altura da viewport */
     }
</style>
<body>
    <!-- Conteúdo do formulário de cadastro -->
    <div class="form-container">
        <h1>Cadastre-se na SGU</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <div class="{{ category}}">{{ message}}</div>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        
        <form method="POST" action="/cadastro" class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <label for="curso">Curso: (3 caracteres)</label>
            <input type="text" id="curso" name="curso" required>
            <small>Deve conter exatamente 3 caracteres maiúsculos.</small>

            <label for="semestre">Semestre:</label>
            <select id="semestre" name="semestre" required>
                <option value="1">1º Semestre</option>
                <option value="2">2º Semestre</option>
                <option value="3">3º Semestre</option>
                <option value="4">4º Semestre</option>
                <option value="5">5º Semestre</option>
                <option value="6">6º Semestre</option>
                <option value="7">7º Semestre</option>
                <option value="8">8º Semestre</option>
                <option value="9">9º Semestre</option>
                <option value="10">10º Semestre</option>
            </select>

            <label for="unidade">Unidade (2 caracteres):</label>
            <input type="text" id="unidade" name="unidade" pattern="[A-Z]{2}" required>
            <small>Deve conter exatamente 2 caracteres maiúsculos.</small>

            <label for="numeroprontuario">Número de Prontuário (7 dígitos):</label>
            <input type="text" id="numeroprontuario" name="numeroprontuario" pattern="\d{7}" required>
            <small>Deve conter exatamente 7 dígitos.</small>

            <button type="submit">Cadastrar</button>
            </form>
        <div class="links">
           <p>Já tem uma conta? <a href="/login">Faça login aqui</a></p>
        </div>
</body>
</html>