<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplinas</title>
    <link rel="stylesheet" href="../static/config/styles.css">
    <style>
        .adicionar-disciplina-button {
            position: absolute;
            top: 210px;
            right: 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 24px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <div class="perfil">
            <a href="/perfil">
            <img src="../static/imagem/{{ nome }}.jpg" alt="Foto de Perfil">
        <div>    
            <h1>{{ nome }}</h1> 
            <h2>Curso: {{ curso}}</h2>
        </div>
        </a>
        </div>
        <nav>
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="#">Mensagens</a></li>
                <li><a href="/disciplina">Disciplinas</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    </header>