<!DOCTYPE html>
<html lang="pt-br">

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" type="text/css" href="../../static/config/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/config/styles/body-header.css">
    <link rel="stylesheet" type="text/css" href="../../static/config/styles/pendente/home.css">

</head>
<body>

    <header>

        <div class="perfil">
            <a href="/profile">
                <img src="../../static/imagem/foto_perfil.webp" alt="Foto de Perfil">
                <div class="perfil_info">    
                    <h1>{{ nome }}</h1> 
                    <h2>Curso: {{ curso}}</h2>    
                </div>    
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="/home">Início</a></li>
                <li><a href="/messages">Mensagens</a></li>
                <li><a href="/subject">Disciplinas</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    
    </header>

    <div class="content">
        <button id="toggleTab">Mensagens</button><div id="tab" class="hidden">
            <h2>Guia de mensagens</h2>
            {% if not message %}
                <p>Não há recados e notificações.</p>
            {% endif %}
    </div>
    
    <div class="welcome-message">
        <h1>Bem-vindo à Página de Início</h1>
        <p>Esta é a nossa página de início. Sinta-se à vontade para explorar!</p>
    </div>

    <div class="section">
        <h2>Horário de Aula</h2>

        <table border="1">
            <tr>
                <th>Dia</th>
                <th>Horário</th>
                <th>Disciplina</th>
            </tr>

            {% for disciplina in horarios %}
                <tr>
                    <td>{{ disciplina[3] }}</td>
                    <td>{{ disciplina[4] }} - {{disciplina[5]}} aulas</td>
                    <td><a class="detalhes-link" href="/subject" >{{ disciplina[1] }}</a></td>
                </tr>
            {% endfor %}
        </table>

        {% if not disciplina %}
            <p>Logo os horários de suas aulas estarão disponíveis por aqui.</p>
        {% endif %}
    </div>

    <div class="section">
        <h2>Minha agenda</h2>
        <p>Meus compromissos com prazo de entrega!</p>

        <div class="section">
            <h2>Lembretes</h2>
            <ul>
                <li>Lembrete 1</li>
                <li>Lembrete 2</li>
                <li>Lembrete 3</li>
            </ul>
        </div>

        <div class="section">
            <h2>Tarefas e entregas</h2>
            <ul>
                <li>Tarefa 1</li>
                <li>Tarefa 2</li>
                <li>Tarefa 3</li>
            </ul>
        </div>
    </div>

</body>


<script src="../static/config/scripts/home.js"></script>
</html>