<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplinas</title>
    <link rel="stylesheet" href="../../static/config/styles/reset.css">
    <link rel="stylesheet" href="../../static/config/styles/body-header.css">
    <link rel="stylesheet" href="../../static/config/styles/pendente/home.css">
    <link rel="stylesheet" href="../../static/config/styles/pendente/subject.css">

    
    <style>
        
    </style>
</head>
<body>
    <header>

        <div class="perfil">
            <a href="/profile">
                <img src="../../static/imagem/foto_perfil.webp" alt="Foto de Perfil">
                <div class="perfil_info">    
                    <h1>{{ nome }}</h1> 
                    <h2>Curso: {{ curso}}</h2>    
                </div>    
            </a>
        </div>

        <nav>
            <ul>
                <li><a href="/home">Início</a></li>
                <li><a href="/messages">Mensagens</a></li>
                <li><a href="/subject">Disciplinas</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    
    </header>

    <main>

        <div class="content">

            <h1>Minhas disciplinas<a href="/subject/add"><span class="adicionar-disciplina-button">+</span></a></h1>
            <ul class="lista-disciplinas">
                {% for disciplina in disciplinas %}
                    <li class="section">
                        <h3>{{ disciplina[1] }}</h3>
                        <p>Código: {{ disciplina[0] }}</p>
                        <p>Professor: {{ disciplina[2] }}</p>
                        <p>Horário: {{ disciplina[3] }}, {{ disciplina[4] }}</p>
                        <p>Carga Horaria: {{ disciplina[6] }} horas.</p>
                        <a class="detalhes-link" href="#">Detalhes</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </main>
</body>
</html>
