<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Disciplinas</title>
    
    <link rel="stylesheet" href="../../static/config/styles/reset.css">
    <link rel="stylesheet" href="../../static/config/styles/body-header.css">
    <link rel="stylesheet" href="../../static/config/styles/pendente/home.css">
    <link rel="stylesheet" href="../../static/config/styles/pendente/subject.css">

    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/solid.min.css" integrity="sha512-jQcpw1zDugORx3f2JtUxXbX/Si4ktq488bmUvGB8Tz9BtlsEYN9hkN7SuaKlHa+4ME95k+hLfrn0mbYCrY/g/w==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/fontawesome.min.css" 
    integrity="sha512-eBxzDWX6OiszkLv4+rzUiTP3FgBnDMJeDVkdN3PiCYjZZIUhdWu5aoBJEay8IiDSW+3womeUhVFRZ29c37S8tA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/brands.min.css" 
    integrity="sha512-ym1f+T15aiJGZ1y6zs1XEpr8qheyBcOPqjFYNf2UfRmfIt5Pdsp7SD5O74fmsFB+rxxO6ejRqiooutodoNSjRQ==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />

</head>
<body>


    <header>

        <div class="perfil">
            <a href="/profile">
                <img src="../../static/imagem/foto_perfil.webp" alt="Foto de Perfil">
                <div class="perfil_info">    
                    <h1>{{ nome }}</h1> 
                    <h2>Curso: {{ curso}}</h2>    
                </div>    
            </a>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="/home">
                        <span class="fa-solid fa-house"></span> 
                        <span>Ínicio</span>
                    </a>
                </li>
                <li>
                    <a href="/messages">
                        <span class="fa-solid fa-bell"></span> 
                        <span>Notificações</span>
                    </a>
                </li>
                <li>
                    <a href="/insights">
                        <span class="fa-solid fa-file-lines"></span> 
                        <span>Relatórios</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="fa-solid fa-right-from-bracket"></span> 
                        <span>Sair</span>
                    </a>
                </li>
            </ul>
        </nav>
    
    </header>

    <main>

        <div class="content">
            <div class="title-button">
                
                <h1>Minhas disciplinas</h1>
                <a href="/subject/add" class="add-button"><span class="fa-solid fa-plus"></span></a>
            </div>
            <ul class="lista-disciplinas">
                {% for disciplina in disciplinas %}
                    <li class="section">
                        <h3>{{ disciplina[1] }}</h3>
                        <p>Código: {{ disciplina[0] }}</p>
                        <p>Professor: {{ disciplina[2] }}</p>
                        <p>Horário: {{ disciplina[3] }}, {{ disciplina[4] }}</p>
                        <p>Carga Horaria: {{ disciplina[6] }} horas.</p>
                        <a class="detalhes-link" href="#">Detalhes</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </main>
</body>
</html>
