body {
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-self: center;
}

.form-container h1 {
    text-align: center;
    margin: 20px 0;
}

.form-container .form-group {
    display: grid;
}

.form-container .form-group .input-container {
    display: grid;
}

.form-container .form-group .input-container small {
    font-size: 14px;
    margin: 5px 0 0px 1px;
}

.form-container .form-group button {
    margin: 20px 0;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.form-container .link p {
    margin: 0 1px 10px 0;
}

.form-container h2 {
    margin-top: 17px;
}

.form-container .form-group form p {
    margin: 10px 0;
}


.form-container .form-group .button-next {
    margin: 20px 0;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}
