
.content {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content h1, content button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #424141;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content h2 {
    margin-bottom: 1px;
    padding: 8px;
    background-color: #ffffff;
    color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content p {
    position: relative;
    margin-left: 8px;
    padding: 10px;
    background-color: #ffffff;
    color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.editor-container {
    padding: 20px;
    background-color: #ffffffb3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}