.small {
    top: 2px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.subjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.details {
    flex-direction: column;
}

.radio-container {
    display: flex;
    align-items: left;
    align-items: flex-start; 
    flex-direction: row; 
    flex-wrap: nowrap; 
}

.radio-label {
    margin-left: 2px;
}

.custom-radio {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: left;
    align-items: flex-start; 
    margin-right: 5px; 
}

.custom-radio input {
    margin-right: 5px;
}

.title-button {
    display: flex;
    background-color: #424141;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.buttons-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.interative-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    margin-right: 12px;
}

.subjectForm {
    display: flex;
    flex-direction: column;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: contents;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}