.small {
    top: 2px;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.details {
    flex-direction: column;
}

.radio-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row; 
    flex-wrap: nowrap;
    margin: 5px;
}

.radio-label {
    margin-left: 2px;
}

.custom-radio {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: flex-start;
    margin-right: 5px;
}

.custom-radio input {
    margin-right: 5px;
}

.title-button {
    display: flex;
    background-color: #424141;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.buttons-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.interative-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    margin-right: 12px;
}

.formAdd {
    display: flex;
    flex-direction: column;
}

