<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/reset.css">            
    <link rel="stylesheet" type="text/css" href="../static/styles/body-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/login-subscribe.css"> 
</head>

<body>

    <div class="form-container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>Cadastre-se na SGU</h1>
        <form method="POST" action="/subscribe" class="form-group">
            <div class="input-container">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>

                <label for="course">Curso: (3 caracteres)</label>
                <input type="text" id="course" name="course" required>
                <small>Deve conter exatamente 3 caracteres maiúsculos.</small>

                <label for="semester">Semestre:</label>
                <select id="semester" name="semester" required>
                    <option value="1">1º Semestre</option>
                    <option value="2">2º Semestre</option>
                    <option value="3">3º Semestre</option>
                    <option value="4">4º Semestre</option>
                    <option value="5">5º Semestre</option>
                    <option value="6">6º Semestre</option>
                    <option value="7">7º Semestre</option>
                    <option value="8">8º Semestre</option>
                    <option value="9">9º Semestre</option>
                    <option value="10">10º Semestre</option>
                </select>

                <label for="unit">Unidade (2 caracteres):</label>
                <input type="text" id="unit" name="unit" pattern="[A-Z]{2}" required>
                <small>Deve conter exatamente 2 caracteres maiúsculos.</small>

                <label for="student_number">Número de Prontuário (7 caracteres):</label>
                <input type="text" id="student_number" name="student_number" minlength="7" maxlength="7" required>
                <small>Deve conter exatamente 7 dígitos.</small>
            </div>
            <button type="submit">Cadastrar</button>
        </form>

        <div class="links">
           <p>Já tem uma conta? <a href="/login">Faça login aqui</a></p>
        </div>

    </div>

</body>
</html>
