.section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.content {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content h1 {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #424141;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content h2 {
    margin-bottom: 1px;
    padding: 8px;
    background-color: #ffffff;
    color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content p {
    position: relative;
    margin-left: 8px;
    padding: 1px;
    background-color: #ffffff;
    color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.welcome-message {
    font-size: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.widget {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto;
}
.table-container {
            overflow-x: auto; /* Torna a tabela rolável horizontalmente */
 }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Torna a tabela rolável horizontalmente */
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
}
@media screen and (max-width: 600px) {
    /* Estilo para telas menores (menos de 600px de largura) */
    table {
        font-size: 14px; /* Reduz o tamanho da fonte */
    }
}

.hidden {
display: none;
}