.small {
    top: 2px; /* Espaçamento entre o radio e o label */
}

.radio-container {
    display: flex;
    align-items: left;
    align-items: flex-start; /* Correção aqui */
    flex-direction: row; /* Correção aqui */
    flex-wrap: nowrap; /* Adicionado para garantir que não haja quebra de linha */
}

.radio-label {
    margin-left: 2px; /* Espaçamento entre o radio e o label */
}

.custom-radio {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: left;
    align-items: flex-start; /* Correção aqui */
    margin-right: 5px; /* Espaçamento entre o radio e o label */
}

.custom-radio input {
    margin-right: 5px; /* Espaçamento entre o radio e o label */
}

.adicionar-disciplina-button {
    position: absolute;
    top: 210px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}